<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title>
		{%block titulo%}
		NetFlixter
		{%endblock titulo%}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{%static 'css/normalize.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/skeleton.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/bliss.css'%}">
	{%block head%}
	{%endblock head%}

</head>
<body>
	<nav class="nav">
	<h1 class="titulo">	NetFlixter</h1>
	</nav>

	{%block content%}
	{%endblock content%}

	{%block scripts%}
	{%endblock scripts%}
</body>
</html>