<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Netflixter</title>

	
</head>

<!-- <body background ="#6a1b9a purple darken-3">
    <nav>
    <div class="nav-wrapper grey lighten-4">
      <a href="#!" class="brand-logo center black-text fuente1">Netflixter</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html" class="black-text">Inicio</a></li>
        <li><a href="collapsible.html" class="black-text">Catalogo</a></li>
        <li><a href="mobile.html" class="black-text">Comentarios</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
 -->
<!-- <h1 class="center white-text">¡Bienvenido a Netflixter!</h1>
<br>
<h3>DISFRUTA DONDE QUIERAS<br>
DE TUS PELICULAS FAVORITAS</h3>


<section class="section">

<article class="container"> -->
{%extends 'base.html'%}

{%block content%}

{%endblock content%}